table
	{
		margin: 0px !important; 
		width: 100% !important; 
		display: block;
	}

tbody,
tbody tr,
tbody td,
tfoot,
tfoot tr,
tfoot td
{
	display: block;
	width: 100% !important;
}

/*tbody
{
	display: flex;
	flex-direction: column;
}*/