@font-face 
{ 
  font-family: "PTRootUI";
  src: url("../fonts/PTRootUI/PTRootUI.eot");
  src: url("../fonts/PTRootUI/PTRootUI.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PTRootUI/PTRootUI.woff") format("woff"),
  url("../fonts/PTRootUI/PTRootUI.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.tablebodytext
{
	display: none !important;
}

body
{
  margin: 0px;
}

input:focus,
textarea:focus 
{
  outline: none;
}

section *,
header *,
footer *
{
  transition: all 0.5s ease;
  font-weight: 500;
  color: #3D3D3D;
}

*
{
  box-sizing: border-box;
  font-family: "PTRootUI", sans-serif;
}

section
{
  margin-top: 50px !important;
}

@media screen and (max-width: 750px)
{
  section
  {
    margin-top: 40px !important;
  }
}

.main-content
{
  margin-left: 270px;
}

.wrap 
{
 max-width: 1260px;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px;
}

.sub-title
{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (max-width: 750px)
{
  .sub-title
  {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

button
{
  cursor: pointer;
}

button:hover
{
  opacity: 0.8;
}

.buttons
{
  width: 100%;
  height: 44px;
  border-radius: 8px;
  background: #3D93F2;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

h1,h2,h3,p
{
  margin: 0px;
} 

a
{
  text-decoration: none;
  color: #3D3D3D;
}

a:hover
{
  opacity: 0.8;
}

/****важные классы на js**/
input.error,
textarea.error
{
    border: 1px solid #FFAEAE !important;
}

.obj-fit
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.margin-left-wrap
{
  margin-left: 85px !important;
}

.show
{
  display: block !important;
}

.hide
{
  display: none !important;
}
 
.active-arrow
{
  transform: rotate(-180deg);
}

.show_flex
{
  display: flex !important;
}

.position-fixed-mobile-window
{
    position: fixed !important;
    top: 80px !important;
    left: calc(50% - 160px) !important;
    box-shadow: none !important;
}

.overflow-hidden
{
  overflow-y: hidden;
}

.no-padding
{
  padding-top: 0px !important;
}
/****важные классы на js**/

/******классы карточки видео********/
.video-item
{
  display: block;
  width: 226px;
  position: relative;
}

.video-box
{
  display: block;
  padding-top: 56%;
  border-radius: 8px;
  position: relative;
}

.video-img
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: 50% 50%;
}

.video-name-box
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.video-name
{
  font-weight: 600;
  font-size: 17px;
  color: #3D3D3D;
  width: calc(100% - 20px);
}

.video-option
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.video-option div
{
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #D8D7D7;
}

@media screen and (max-width: 750px)
{
  .video-name
  {
    font-size: 16px;
    line-height: 1.5;
  }

  .video-name-box
  {
    align-items: flex-start;
  }

  .video-option
  {
    margin-top: 7px;
  }
}

/******классы карточки видео********/

/***класс опций к карточке видео**/
.opts-box-video
{
  position: absolute;
  z-index: 999;
  top: 100%;
  left: -10%;
  /*width: 120%;*/
  width: 270px;
  /*height: 108px;*/
  background: #FFFFFF;
  /* background: blue;*/
  box-shadow: 0px 0px 15px 1px #f3f3f3;
  border-radius: 20px;
  padding: 10px;
  /*border: 1px solid black;*/
  /*display: none;*/
}

.opts-box-video .add-favorites svg.active
{
  fill: #004EA4 !important;
}

.opts-box-video .option-item
{
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.opts-box-video .option-item p
{
  font-size: 16px;
  color: #3D3D3D;
  margin-left: 20px;
}

.opts-box-video .option-item:hover
{
  background: #EEF9FF;
}

.opts-box-video .option-item:hover .option-title
{
  color: #004EA4;
}

.opts-box-video .option-item:hover svg path
{
  stroke: #004EA4;
}

@media screen and (max-width: 750px)
{
  .opts-box-video
  {
    left: calc(100% - 260px);
  }
}
/***класс опций к карточке видео**/

/***анимация попап***/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 0.5s;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  animation-duration: 0.5s;
}
/***анимация попап***/

/* Попап поделиться */
.fancybox-bg
{
  background: #6691B9 !important;
  opacity: 0.7 !important;
}

#share-popup
{
  border-radius: 8px !important;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  max-height: 90vh;
  overflow-y: auto;
}

#share-popup .fancybox-close-small
{
  width: 50px;
  height: 50px;
  opacity: 0.4;
}

#share-popup .popup-title
{
  font-size: 18px;
  color: #1A2433;
}

#share-popup .social-media
{
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

#share-popup .social-name
{
  font-size: 14px;
  color: #979797;
  margin-top: 3px;
}

#share-popup .social-media-item
{
  text-align: center;
}

#share-popup .popup-delimeter
{
  height: 1px;
  background: #EDF2F9;
}

#share-popup .pop-up-text
{
  font-size: 15px;
  color: #6C6C6C;
  margin: 25px 0 15px 0;
}

#share-popup .copy-line
{
  height: 44px;
  display: flex;
  justify-content: space-between;
}

#share-popup #ref-text
{ 
  width: 67%;
  height: inherit;
  border-radius: 8px;
  border: 1px solid #D0DDEB;
  font-size: 16px;
  color: #3D3D3D;
  padding: 0 15px;
  outline: none;
}

#share-popup a
{
  outline: none;
  display: block;
}

#share-popup #copy-video-ref
{
  width: calc(33% - 10px);
  height: inherit;
  border-radius: 8px;
  background: #3D93F2;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 750px)
{
  #share-popup
  {
    max-width: 320px;
  }

  #share-popup .social-media-item svg
  {
    width: 44px;
    height: 44px;
  }

  #share-popup .social-name
  {
    display: none;
  }

  #share-popup
  {
    border-radius: 15px !important;
  }

  #share-popup .social-media
  {
    margin: 25px 0;
  }

  #share-popup .copy-line
  {
    flex-direction: column;
    height: auto;
  }

  #share-popup #ref-text
  {
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
  }

  #share-popup #copy-video-ref
  {
    width: 100%;
    height: 44px;
  }
}
/* Попап поделиться */

/***просмотры дата***/
.views-date 
{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.views-date span 
{
  font-size: 15px;
  color: #7F8692;
}

.views-date svg 
{
  margin: 0 10px;
}

@media screen and (max-width: 750px)
{
  .views-date 
  {
    margin-top: 5px;
  }
}
/***просмотры дата***/

/**********окно проверки************/
.check-clear-box
{
  cursor: default;
  border-radius: 15px;
  position: absolute;
  width: 320px;
  background: white;
  z-index: 999;
  top: calc(100% + 5px);
  right: 0px;
  padding: 30px;
  box-shadow: 0px 0px 15px 1px #f3f3f3;
}

.button-line-check
{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.check-clear-box .buttons
{
  width: calc(50% - 5px);
}

#check-clear-hist-no
{
  background: white;
  color: #6C6C6C;
  border: 1px solid #EAEAEA;
}

.check-clear-box .quest
{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
}
/**********окно проверки************/

/**************нет записей в списке*******/
.no-tems
{
  margin-top: 0px !important;
  height: calc(100vh - 65px);
  /*background: gray;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-tems div
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-tems .no-tems-title
{
  font-size: 16px;
  color: #3D3D3D;
  margin: 20px 0;
  font-weight: 600;
}

.no-tems .go-to-main
{
  font-size: 16px;
  color: #6C6C6C;
  width: 144px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px)
{
   .no-tems
  {
    height: calc(100vh - 77px - 97px);
  }
}

/**************нет записей в списке*******/
































/*********************/
header #bitrix-auth-form [name="captcha_word"]
{
  margin-bottom: 20px !important;
}


header
{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid #EDF2F9;
  position: relative;
  margin-bottom: 30px;
}

header .menu-logo
{
  display: flex;
  align-items: center;
}

header #catalog_nav_btn 
{
    cursor: pointer;
}

header .head-logo
{
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 5px;
}

header .head-search
{
  width: 100%;
  max-width: 600px;
  position: relative;
}

header #head-search
{
  width: 100%;
  height: 44px;
  border: 1px solid #D6E5EA;
  border-radius: 60px;
  padding: 0 80px 0 45px;
  font-size: 16px;
}

header #head-search::placeholder
{
  color: #B4BCC9;
}

header .loopa
{
  position: absolute;
  top: calc(50% - 9px);
  left: 17px;
  /*cursor: pointer;*/
}

header .go-to-box
{
  position: absolute;
  top: 0px;
  right: 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

header #head-search-cross,
header #head-search-arrow
{
  cursor: pointer;
}

header #head-search-cross:hover,
header #head-search-arrow:hover
{
  opacity: 0.5;
}

header .head-search-line
{
  margin: 0 12px;
}

header .head-search-vars
{
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  left: 0px;
  box-shadow: 0px 0px 15px 1px #f3f3f3;
  padding: 10px;
  border-radius: 15px;
  z-index: 999;
  background: #FFFFFF;
}

header .head-search-vars-item
{
  font-size: 16px;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 10px;
}

header .head-search-vars-item:hover
{
  background: #F1F8FF;
  color: #111111 !important;
}

header .about-registr
{
  font-size: 16px;
  color: #004EA4;
  font-weight: bold;
  cursor: pointer;
}

header #go-to-office
{
  display: flex;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
}

header #go-to-office span
{
  font-size: 16px;
  color: #3D3D3D;
  font-weight: bold;
}

header #go-to-office svg
{
  margin-right: 10px;
}

header .user
{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-ava
{
  width: 38px;
  height: 38px;
  border-radius: 38px;
  margin-right: 10px;

  border-radius: 100%;
  background: linear-gradient(to left, #4092FF, #5EB6FF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-ava .first-latter
{
  font-size: 16px !important;
}

.user-ava img
{
  width: 100%;
  height: 100%;
  border-radius: 38px;
  object-fit: cover;
  object-position: 50% 50%;
}

header .user-name
{
  font-size: 16px;
  font-weight: 600;
}

header .private-office
{
  display: flex;
  align-items: center;
  position: relative;
}

header .about-registr-box,
header .form-box
{
  position: absolute;
  top: 100%;
  right: 0px;
  padding: 25px 30px;
  box-shadow: 0px 0px 15px 1px #f3f3f3;
  border-radius: 20px;
  z-index: 999;
  background: #FFFFFF;
  width: 320px;
}

header .form-box
{
  max-height: 90vh;
  overflow-y: auto;
}

header input:focus
{
  border: 1px solid #88A6C6 !important;
}

header .registr-title,
header .come-in-title
{
  font-size: 18px;
  color: #1A2433;
  font-weight: 600;
}

header .come-in-title
{
  margin-top: -5px;
}

header .form-error
{
  color: #E34343;
  font-size: 15px;
  margin-bottom: 10px;
}

header .come-in-input.error
{
  border: 1px solid #FFAEAE;
}

header .come-in-title
{
  margin-bottom: 20px;
}

header .registr-text
{
  font-size: 15px;
  color: #6C6C6C;
  margin: 20px 0;
}

header .come-in-input
{
  width: 100%;
  height: 44px;
  font-size: 16px;
  border: 1px solid #D0DDEB;
  padding: 0 25px;
  border-radius: 8px;
  margin-bottom: 10px;
}

header .come-in-input::placeholder
{
  color: #B4BCC9;
}

header .buttons.forms
{
  margin: 10px 0 0 0;
}

header .option-line
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

header .option-line svg
{
  margin: 0px 15px;
}

header .option-line span
{
  font-size: 16px;
  color: #6C6C6C;
  cursor: pointer;
}

header .option-line span:hover
{
  opacity: 0.8;
}

header .explanation
{
  color: #6C6C6C;
  font-size: 15px;
  margin: 20px 0 15px 0;
}

header .switch-box
{
  margin-bottom: 20px;
  padding: 3px;
  background: #F2F5F9;
  border-radius: 12px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

header .switch-box div
{
  background: #F2F5F9;
  border-radius: 12px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 5px);
  cursor: pointer;
}

header .switch-box .switch-item.active
{
  background: #FFFFFF;
}

header .menu-box
{
  position: absolute;
  width: 100%;
  top: 100%;
  left: -100%;
  display: flex;
  z-index: 999;
  border-top: 1px solid #EDF2F9;

}

header .menu-box.active
{
  left: 0px;
}

header .menu-box ul
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

header .menu-reff
{
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 10px;
  /*height: 48px;*/
  padding: 15px;
  color: #3D3D3D;
  line-height: 1.5;
}

header .menu-reff:hover
{
  background: #F1F8FF;
  color: #004EA4;
}

header .menu-reff:hover svg path
{
  stroke: #004EA4;
}

header .menu-reff.active
{
  background: #F1F8FF;
  color: #004EA4;
}

header .menu-reff.active svg path
{
  stroke: #004EA4;
}

footer .menu-reff-footer.active
{
  color: #004EA4;
}

footer .menu-reff-footer.active svg path
{
  stroke: #004EA4;
}

header .menu-reff svg
{
  margin-right: 15px;
}

header .menu-delimeter
{
  width: calc(100% - 15px);
  height: 2px;
  background: #EDF2F9;
  margin: 20px 0 20px auto;
}

header .catalog-title
{
  font-size: 18px;
  color: #7F8692;
  /*color: #303030;*/
  margin: 0 0 10px 15px;
  font-weight: 700;
  cursor: pointer;
  line-height: 2;
}

header .catalog-title.active
{
  color: #303030;
  border-bottom: 1px solid #303030;
}

header .catalog-title:hover
{
  color: #303030;
}

header .catalog-vars
{
  display: flex;
}

header .more-catalog-butt
{
  font-size: 16px;
  color: #004EA4;
  margin: 15px 0 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .more-catalog-butt svg
{
  margin-right: 5px;
  transform: rotate(0deg);
}

header .more-catalog-butt span
{
  color: #004EA4;
}

header .more-catalog-butt svg.active
{
  transform: rotate(-180deg);
}

header .menu
{
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 65px);
  width:270px;
  padding: 15px;
  border-bottom: 2px solid #EDF2F9;
}

header .last-line
{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

header .domen
{
  color: #7C7C7C;
  font-size: 13px;
}

header .social-media a
{
  margin-left: 10px;
}

header .social-media a:hover svg path
{
  fill: #FF0000;
}

header .menu-shade
{
  width: calc(100% - 270px);
  background: #6691B9;
  opacity: 0.7;
}

header .mobile-shade
{
  transition: none;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: #6691B9;
  opacity: 0.7;
  z-index: 998;
}

header .user-main-info
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .user-round
{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: linear-gradient(to left, #4092FF, #5EB6FF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-latter
{
  font-size: 26px;
  color: #FFFFFF;
  font-weight: 600;
}

header .ava-img-option
{
  border-radius: inherit;
}

header .name-mail
{
  width: calc(100% - 10px - 60px);
}

header .name-mail .come-in-title
{
  margin-bottom: 0px;
}

header .name-mail .explanation
{
  margin: 0px;
}

header .delimeter
{
  border-top: 1px solid #EDF2F9;
  border-bottom: 1px solid #EDF2F9;
  width: calc(100% + 60px);
  margin: 20px 0 20px -30px;

}

header .menu-form-author-item
{
  font-size: 16px;
  padding: 13px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  width: calc(100% + 40px);
  margin-left: -20px;
}

header .menu-form-author-item:hover
{
  background: #EEF9FF;
  color: #004EA4;
}

header .seller
{
  width: calc(100% + 60px);
  margin-left: -30px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-top: 1px solid #FFEBDD;
  border-bottom: 1px solid #FFEBDD;
}

header .seller-title
{
  margin-left: 20px;
  color: #BB5A13;
  font-size: 16px;
  font-weight: 600;
}

header #load-ava
{
  background: white;
  /*font-weight: 600;*/
  border: 1px solid #E1E9F3;
  color: #004EA4;
  font-size: 16px;
  border-radius: 8px;
  height: 44px;
  width: calc(100% - 60px - 10px);
}
 
header .change-name-ava-form .mail-box
{
  display: flex;
  align-items: center;
  background: #EAF2FD;
  border: none;
}

header .go-to-menu-auth
{
  margin-bottom: 0px;
  text-align: center;
  cursor: pointer;
}

header .go-to-menu-auth:hover
{
  color: #004EA4;
}

/**************************/
.recommend img[data-lazy]
{
  display: none; 
}

.recommend .recommend-slide
{
  width: 33.3%;
}

.recommend
{
  margin-top: 0px !important;
}

.recommend .opts-box-video
{
  top: calc(50% - 90px);
  left: calc(50% - 135px);
}

.recommend .video-item
{
  display: block;
  width: calc(100% - 15px);
  margin: 0 auto;
  position: relative;
}

.recommend-box
{
  display: flex;
  /*justify-content: space-between;*/ 
}

/*Классы для slick-slidera*/
.prev-photo,
.next-photo
{
    background: #686868BF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    opacity: 0.75;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.prev-photo
{
    top: calc(50% - 42px);
    left: -14px;
}

.next-photo
{
    right: -14px;
    top: calc(50% - 42px);
}

.prev-photo svg,
.next-photo svg
{
    width: 20px;
    color: white;
}

.recommend-slider
{
    position: relative;
}
/*Классы для slick-slidera*/

.video-opts-box
{
  z-index: 999;
  height: 200px;
  background: blue;
  position: absolute;
  bottom: 0;
  width: 270px;
  padding: 10px;
  border-radius: 20px;
  /*background: #FFFFFF;*/
  box-shadow: 0px 0px 15px 1px #f3f3f3;
}

/******************/

.top-video .top-video-first-line
{
  display: flex;
  justify-content: space-between;
}

.top-video .all-top-title
{
  font-size: 16px;
  color: #004EA4;
}

.top-video .all-top
{
  display: flex;
  align-items: center;
}

.top-video .all-top svg
{
  margin-right: 5px;
}

.top-video .top-video-box
{
  display: flex;
  /*justify-content: space-around;*/
  flex-wrap: wrap;
}

.top-video .video-item
{
  margin: 0 10px 20px 10px;
}

/***************/
.interesting
{
  margin-top: 30px !important;
  margin-bottom: 70px !important;
}

.interesting .inter-video-box
{
  display: flex;
  flex-wrap: wrap;
}

.interesting .video-item
{
  margin: 0 10px 20px 10px;
}

/*****Меню десктоп**********/

/*****Меню десктоп**********/

header .menu.no-active .menu-name,
header .menu.no-active .menu-delimeter,
header .menu.no-active .menu-footer,
header .menu.no-active .catalog-vars,
header .menu.no-active .catigory-catalog,
header .menu.no-active .teg-catalog
{
  display: none;
}

header .menu.no-active .menu-reff svg
{
  margin-right: 0px;
  /*width: 100%;*/
  transition: none !important;
}

header .menu.no-active
{
  width: 85px;
  border-bottom: none;
  transition: none !important;
}

header .menu
{
  transition: none !important;
}

header .menu
{
  transition: min-height 0.4s ease !important;
}























/************медиа- запросы***************/
@media screen and (max-width: 1200px)
{
  header .head-search
  {
    max-width: 400px;
  }
}

@media all and (max-width: 1000px) and (min-width: 750px)
{
  header #head-search
  {
    font-size: 14px; 
  }
}

@media screen and (max-width: 1000px)
{
  header .head-search-vars-item
  {
    font-size: 14px;
  }

  header .head-search
  {
    max-width: 250px;
  }

  header #go-to-office
  {
    margin-left: 5px;
  }

  header .head-logo
  {
    font-size: 18px;
  }

  header #go-to-office svg
  {
    margin-right: 5px;
  }

  header .head-search
  {
    max-width: 230px;
  }

  header #head-search
  {
    padding: 0 80px 0 45px;
  }

  /*header .about-registr-box,
  header .form-box
  {
    left: -75px;
  }
*/
  header
  {
    padding: 10px;
  }
}

@media screen and (max-width: 750px)
{
  header
  {
    margin-bottom: 20px;
  }

  header .head-search-vars
  {
    border-radius: 0px;
  }

  header .close-line
  {
    display: flex !important;
    justify-content: flex-end;
    margin-top: -5px;
      margin-right: -10px;
  }

  header
  {
    padding: 14.5px 20px;
  }

  header .user-name
  {
    display: none;
  }

  .user-ava
  {
    width: 32px;
    height: 32px;
    margin: 0px;
  }

  header #go-to-office span,
  header .about-registr
  {
    display: none;
  }

  header .mobile-loopa
  {
    display: block !important;
    margin-right: 10px;
  }

  header .head-search
  {
    position: absolute;
    top: 0px;
    left: -100%;
    /*left: 0px;*/
    max-width: 100%;
    height: 100%;
    z-index: 11;
  }

  header .head-search.active
  {
    left: 0px;
  }

  header #head-search
  {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    padding: 0 80px 0 75px;
  }

  header .mobile-search-arrow
  {
    display: block !important;
    position: absolute;
      top: calc(50% - 8px);
      left: 2px;
      padding: 0 15px; 
  }

  header .loopa
  {
    left: 45px;
  }

  header #go-to-office svg 
  {
      margin-right: 0px;
  }

  header .menu
  {
    width: 290px;
  }

  header .menu-shade
  {
    width: calc(100% - 290px);
  }

  header .menu-delimeter 
  {
      width: calc(100% - 30px);
      margin: 20px auto 30px auto;
  }

  header .menu-delimeter.bottom
  {
    margin: 40px auto 20px auto;
  }

  header .social-media
  {
    padding-right: 15px;
  }

}

/*************************/

@media screen and (max-width: 750px)
{
  .top-video .video-item
  {
    width: 234px;
    margin: 0px 7px;
  }

  .top-video.wrap
  {
    padding-right: 0px !important;
    margin-top: 40px !important;
    overflow: hidden;
  }

  .top-video .all-top
  {
    display: none;
  }

  .top-video .opts-box-video
  {
    width: 224px;
    top: calc(50% - 76px);
      left: calc(50% - 112px);
  }

  .top-video .opts-box-video .option-item
  {
    padding: 5px;
  }
}

/*********************************/
@media screen and (max-width: 1200px)
{
  .opts-box-video
  {
    width: 225px;
  }

  .recommend .opts-box-video
  {
    left: calc(50% - 112px);
  }
}

@media all and (max-width: 1000px) and (min-width: 750px)
{
  .recommend .opts-box-video
  {
    width: 224px;
    left: calc(50% - 112px);
    top: calc(50% - 74px);
  }

  .recommend .opts-box-video .option-item
  {
    padding: 5px;
  }
}

@media screen and (max-width: 750px)
{
  /*.recommend
  {
    padding-right: 0px;
  }*/

  .slick-dots li button:before
  {
    font-size: 35px !important;
    color: #E4E4E4 !important;
    opacity: 1 !important;
  }

  .slick-dots li.slick-active button:before
  {
    color: #004EA4 !important;
  }

  .recommend
  {
    overflow: hidden;
  }
}

/**********************/
@media screen and (max-width: 750px)
{
  .interesting .video-item
  {
    width: 100%;
  }

  .interesting .video-item
  {
    margin: 0 0 20px 0;
  }
}

/********************/
@media screen and (max-width: 750px)
{
  .mobile-footer
  {
    display: block !important;
    border-top: 1px solid #EDF2F9;
    margin-top: 30px;
    /*margin-bottom: 2000px;*/
    padding: 10px 5px !important;
  }

  .mobile-footer .footer-menu
  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  .mobile-footer .menu-reff-footer
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    /*color: #3D3D3D;*/
  }

  .mobile-footer .menu-reff-footer svg
  {
    margin-bottom: 5px;
    width: 23px;
    height: 23px;
  }
} 


/********Правки шаблон сайта***************/
@media screen and (min-width: 1000px)
{
	.main-wraper
	{
		margin-left: 270px;
    transition: all 0.5s ease;
	}

	header .menu-shade
	{
		width: 0px;
	}

	header .menu-box
	{
		left: 0px !important;
	}

	header .menu-box
	{
		width: 270px;
	}
}
/********Правки шаблон сайта***************/

@media screen and (max-width: 750px)
{
  body
  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.about-video-tag a {
  color: #004EA4;
}

.about-video-tag {
  display: inline-block;
  margin: 0 10px 15px 0;
}